// .theme-container.study-website, .theme-container.study-team {
//   .content {
//     img {
//       position: relative;
//       top: 1rem;
//       border-radius: 50%;
//       margin-right: .6rem;
//       width: 3rem;
//       height: 3rem;
//     }
//   }
// }